<table class="tasks table table-striped table-hover">
  <tr>
    <th class="span1">Done</th>
    <th class="span6">Task</th>
    <th>Est. duration</th>
    <th></th>
  </tr>

  {{#each controller}}
    <tr>
      <td>{{view Ember.Checkbox checkedBinding="isDone" disabledBinding=isNotEditing}}</td>
      {{#if isEditing}}
        <td>{{view Ember.TextField valueBinding="name" class="span5"}}</td>
        <td>{{view Ember.TextField valueBinding="minutesEstimatedToComplete" type="number" class="span1"}}</td>
        <td class="actions">
            <button class="btn btn-mini btn-primary" {{action save this}}>Save</button>
            <button class="btn btn-mini" {{action cancelEditMode this}}>Cancel</button>
        </td>
      {{else}}
        <td>{{name}}</td>
        <td>{{humanTimeLength minutesEstimatedToComplete}}</td>
        <td class="actions">
          <button class="btn btn-mini btn-warning" {{action enterEditMode this}}>Edit</button>
          <button class="btn btn-mini btn-danger" {{action deleteTask this}}>Delete</button>
        </td>
      {{/if}}
    </tr>
  {{else}}
    <tr>
      <td colspan="4">No tasks, yet.</td>
    </tr>
  {{/each}}
</table>
